{% extends 'base.html.twig' %}

{% block title %}Structure{% endblock %}
{% block stylesheets %}
<link href="{{ asset('assets/styles/homepage.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/styles/structure-show.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
     {{ block('homepage', 'homepage/index.html.twig') }}
    <div class="main">
    <h1>Structure</h1>
        <h2>Structure de ce partenaire </h2>


        <div class="wrapper-1">
            <h3>Structure</h3>
    <table class="table">
        <tbody>

            <tr>
                <th>Email</th>
                <td>{{ structure.email }}</td>
            </tr>

            <tr>
                <th>Adresse</th>
                <td>{{ structure.Adresse }}</td>
            </tr>
            <tr>
                <th>Is_active</th>
                <td>{{ structure.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
        </div>

        <h2 id="title-2">Permissions de la structure</h2>
        <div class="wrapper-permission">
            <table class="table">


                {% for permissions in permissions %}
                    <tr>

                        {% if is_granted('ROLE_ADMIN') %}      <td> isMembersRead <div class="wrapper-switch"><div class="switch">
                                    <input name="1" type="checkbox" id="1" {{ (permissions.isMembersRead) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="1"></label>
                                </div></div></td>
                        <td> isMembersWrite  <div class="wrapper-switch"><div class="switch">
                                    <input name="2" type="checkbox" id="2" {{ (permissions.isMembersWrite) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="2"></label>
                                </div></div></td>
                        <td>isMembersAdd <div class="wrapper-switch"><div class="switch">
                                    <input name="3" type="checkbox" id="3" {{ (permissions.isMembersAdd) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="3"></label>
                                </div></div></td>
                    </tr>
                    <tr>
                        <td> isMembersProductsAdd <div class="wrapper-switch"><div class="switch">
                                    <input name="4" type="checkbox" id="4" {{ (permissions.isMembersProductsAdd) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="4"></label>
                                </div></div></td>
                        <td> isMembersPaymentSchedulesRead <div class="wrapper-switch"><div class="switch">
                                    <input name="5" type="checkbox" id="5" {{ (permissions.isMembersPaymentSchedulesRead) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="5"></label>
                                </div></div></td>
                        <td> isMembersStatistiquesRead <div class="wrapper-switch"><div class="switch">
                                    <input name="6" type="checkbox" id="6" {{ (permissions.isMembersStatistiquesRead) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="6"></label>
                                </div></div></td>
                    <tr>
                        <td> isMembersSubscriptionRead <div class="wrapper-switch"><div class="switch">
                                    <input name="7" type="checkbox" id="7" {{ (permissions.isMembersSubscriptionRead) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="7"></label>
                                </div></div></td>
                        <td> isPaymentSchedulesRead <div class="wrapper-switch"><div class="switch">
                                    <input name="8" type="checkbox" id="8" {{ (permissions.isPaymentSchedulesRead) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="8"></label>
                                </div></div></td>
                        <td> isPaymentSchedulesWrite  <div class="wrapper-switch"><div class="switch">
                                    <input name="9" type="checkbox" id="9" {{ (permissions.isPaymentSchedulesWrite) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="9"></label>
                                </div></div></td>
                    </tr>
                    <tr>
                        <td> isPaymentDayRead <div class="wrapper-switch"><div class="switch">
                                    <input name="10" type="checkbox" id="10" {{ (permissions.isPaymentDayRead) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="10"></label>
                                </div></div></td>
                    </tr>
                {%  else %} <tr>

                    <td> isMembersRead {{ permissions.isMembersRead ? 'On' : 'Off'}}</td>
                    <td> isMembersWrite  {{ permissions.isMembersWrite ? 'On' : 'Off'}}</td>
                    <td>isMembersAdd {{ permissions.isMembersAdd ? 'On' : 'Off'}}</td>
                </tr>
                    <tr>
                        <td> isMembersProductsAdd {{ permissions.isMembersProductsAdd ? 'On' : 'Off'}}</td>
                        <td> isMembersPaymentSchedulesRead {{ permissions.isMembersPaymentSchedulesRead ? 'On' : 'Off'}}</td>
                        <td> isMembersStatistiquesRead {{ permissions.isMembersStatistiquesRead ? 'On' : 'Off'}}</td>
                    <tr>
                        <td> isMembersSubscriptionRead {{ permissions.isMembersSubscriptionRead ? 'On' : 'Off'}}</td>
                        <td> isPaymentSchedulesRead {{ permissions.isPaymentSchedulesRead ? 'On' : 'Off'}}</td>
                        <td> isPaymentSchedulesWrite  {{ permissions.isPaymentSchedulesWrite ? 'On' : 'Off'}}</td>
                    </tr>
                    <tr>
                        <td> isPaymentDayRead {{ permissions.isPaymentDayRead ? 'On' : 'Off'}}</td>
                    </tr> {% endif %}
                {% endfor %}

            </table>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script>
        window.onload = () => {
            let activate = document.querySelectorAll('[name="1"]');
            for(let bouton of activate){
                bouton.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission`)
                    xmlhtpp.send();}
                    else {
                        bouton.checked = false;
                    }
                })

            }
            let activate2 = document.querySelectorAll('[name="2"]');
            for(let bouton2 of activate2){
                bouton2.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission2`)
                    xmlhtpp.send();}
            else {
                    bouton2.checked = false;
                }
                })

            }
            let activate3 = document.querySelectorAll('[name="3"]');
            for(let bouton3 of activate3){
                bouton3.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission3`)
                    xmlhtpp.send();}
            else {
                    bouton3.checked = false;
                }
                })

            }
            let activate4 = document.querySelectorAll('[name="4"]');
            for(let bouton4 of activate4){
                bouton4.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission4`)
                    xmlhtpp.send();}
            else {
                    bouton4.checked = false;
                }
                })

            }
            let activate5 = document.querySelectorAll('[name="5"]');
            for(let bouton5 of activate5){
                bouton5.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission5`)
                    xmlhtpp.send();}
            else {
                    bouton5.checked = false;
                }
                })

            }
            let activate6 = document.querySelectorAll('[name="6"]');
            for(let bouton6 of activate6){
                bouton6.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission6`)
                    xmlhtpp.send();}
            else {
                    bouton6.checked = false;
                }
                })

            }
            let activate7 = document.querySelectorAll('[name="7"]');
            for(let bouton7 of activate7){
                bouton7.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission7`)
                    xmlhtpp.send();}
            else {
                    bouton7.checked = false;
                }
                })

            }
            let activate8 = document.querySelectorAll('[name="8"]');
            for(let bouton8 of activate8){
                bouton8.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission8`)
                    xmlhtpp.send();}
            else {
                    bouton8.checked = false;
                }
                })

            }

            let activate9 = document.querySelectorAll('[name="9"]');
            for(let bouton9 of activate9){
                bouton9.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission9`)
                    xmlhtpp.send();}
            else {
                    bouton9.checked = false;
                }
                })

            }
            let activate10 = document.querySelectorAll('[name="10"]');
            for(let bouton10 of activate10){
                bouton10.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission10`)
                    xmlhtpp.send();}
            else {
                    bouton10.checked = false;
                }
                })

            }
        }
    </script>
{% endblock %}

