{% extends 'base.html.twig' %}

{% block title %}Structure{% endblock %}
{% block stylesheets %}
<link href="{{ asset('assets/styles/homepage.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/styles/homepage-admin.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/styles/structure-show.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
     {{ block('homepage', 'homepage/index.html.twig') }}
    <div class="main">
        {% if is_granted('ROLE_ADMIN') %}
        <img src="{{ asset('assets/images/logo-2.png')}}" id="logo-2" onclick="location.href='{{path('app_homepage_admin')}}';"/>
        {% else %}
        <img src="{{ asset('assets/images/logo-2.png')}}" id="logo-2" onclick="location.href='{{path('app_homepage')}}';"/>
        {% endif %}
        <div class="hamMenu">
            <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">

                <path
                        class="line top"
                        d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
                <path
                        class="line middle"
                        d="m 30,50 h 40" />
                <path
                        class="line bottom"
                        d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
            </svg>
        </div>
        <div class="mobile-menu">
            <div class="mobile-menu-items">
                <li {% if app.request.attributes.get('_route') == 'app_homepage_admin' %} class="active" {% endif %}> <a href="{{ path('app_homepage_admin') }}" >Dashboard</a></li>
                <li {% if app.request.attributes.get('_route') == 'app_partenaire_index' %} class="active" {% endif %}>  <a href="{{ path('app_partenaire_index') }}">Partenaire</a></li>
                <li {% if app.request.attributes.get('_route') == 'app_logout' %} class="active" {% endif %}>  <a href="{{ path('app_logout') }}">Log out</a></li>
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="add-button" onclick="location.href='{{path('app_partenaire_new')}}';">
            <img src="{{ asset('assets/images/add.png')}}"/> <a href="{{ path('app_partenaire_new') }}">Ajouter</a>
        </div>
        {% endif %}

    <h1>Structure</h1>
        <h2>Structure de ce partenaire </h2>


        <div class="wrapper-1">
            <h3>Structure</h3>
    <table class="table">
        <tbody>

            <tr>
                <th>Email</th>
                <td>{{ structure.email }}</td>
            </tr>

            <tr>
                <th>Adresse</th>
                <td>{{ structure.Adresse }}</td>
            </tr>
            <tr>
                <th>Is_active</th>
                <td>{{ structure.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="wrapper-edit">
                <a href="{{ path('app_structure_edit', {'id': structure.id}) }}">edit</a>
                <div style="display: flex; justify-content: center">
                    {{ include('structure/_delete_form.html.twig') }}
                </div>
            </div>
            {% endif %}
        </div>

        <div class="titles">
            <h1>Permissions</h1>
            <h3>Permissions globales du partenaire</h3>
        </div>
        <div class="wrapper-permission">
            <table class="table">


                {% for permissions in permissions %}
                    <tr>

                        {% if is_granted('ROLE_ADMIN') %}      <td> isMembersRead <div class="wrapper-switch"><div class="switch">
                                    <input name="1" type="checkbox" id="1" {{ (permissions.isMembersRead) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="1"></label>
                                </div></div></td>
                        <td> isMembersWrite  <div class="wrapper-switch"><div class="switch">
                                    <input name="2" type="checkbox" id="2" {{ (permissions.isMembersWrite) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="2"></label>
                                </div></div></td>
                        <td>isMembersAdd <div class="wrapper-switch"><div class="switch">
                                    <input name="3" type="checkbox" id="3" {{ (permissions.isMembersAdd) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="3"></label>
                                </div></div></td>
                    </tr>
                    <tr>
                        <td> isMembersProductsAdd <div class="wrapper-switch"><div class="switch">
                                    <input name="4" type="checkbox" id="4" {{ (permissions.isMembersProductsAdd) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="4"></label>
                                </div></div></td>
                        <td> isMembersPaymentSchedulesRead <div class="wrapper-switch"><div class="switch">
                                    <input name="5" type="checkbox" id="5" {{ (permissions.isMembersPaymentSchedulesRead) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="5"></label>
                                </div></div></td>
                        <td> isMembersStatistiquesRead <div class="wrapper-switch"><div class="switch">
                                    <input name="6" type="checkbox" id="6" {{ (permissions.isMembersStatistiquesRead) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="6"></label>
                                </div></div></td>
                    <tr>
                        <td> isMembersSubscriptionRead <div class="wrapper-switch"><div class="switch">
                                    <input name="7" type="checkbox" id="7" {{ (permissions.isMembersSubscriptionRead) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="7"></label>
                                </div></div></td>
                        <td> isPaymentSchedulesRead <div class="wrapper-switch"><div class="switch">
                                    <input name="8" type="checkbox" id="8" {{ (permissions.isPaymentSchedulesRead) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="8"></label>
                                </div></div></td>
                        <td> isPaymentSchedulesWrite  <div class="wrapper-switch"><div class="switch">
                                    <input name="9" type="checkbox" id="9" {{ (permissions.isPaymentSchedulesWrite) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="9"></label>
                                </div></div></td>
                    </tr>
                    <tr>
                        <td> isPaymentDayRead <div class="wrapper-switch"><div class="switch">
                                    <input name="10" type="checkbox" id="10" {{ (permissions.isPaymentDayRead) ? 'checked' : ''}} data-id="{{  permissions.id }}" /> <!--toggle switch-->
                                    <label for="10"></label>
                                </div></div></td>
                    </tr>
                {%  else %} <tr>

                    <td> isMembersRead {{ permissions.isMembersRead ? 'On' : 'Off'}}</td>
                    <td> isMembersWrite  {{ permissions.isMembersWrite ? 'On' : 'Off'}}</td>
                    <td>isMembersAdd {{ permissions.isMembersAdd ? 'On' : 'Off'}}</td>
                </tr>
                    <tr>
                        <td> isMembersProductsAdd {{ permissions.isMembersProductsAdd ? 'On' : 'Off'}}</td>
                        <td> isMembersPaymentSchedulesRead {{ permissions.isMembersPaymentSchedulesRead ? 'On' : 'Off'}}</td>
                        <td> isMembersStatistiquesRead {{ permissions.isMembersStatistiquesRead ? 'On' : 'Off'}}</td>
                    <tr>
                        <td> isMembersSubscriptionRead {{ permissions.isMembersSubscriptionRead ? 'On' : 'Off'}}</td>
                        <td> isPaymentSchedulesRead {{ permissions.isPaymentSchedulesRead ? 'On' : 'Off'}}</td>
                        <td> isPaymentSchedulesWrite  {{ permissions.isPaymentSchedulesWrite ? 'On' : 'Off'}}</td>
                    </tr>
                    <tr>
                        <td> isPaymentDayRead {{ permissions.isPaymentDayRead ? 'On' : 'Off'}}</td>
                    </tr> {% endif %}
                {% endfor %}

            </table>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            $(".ham").click(function(){
                if ($(".mobile-menu").css("display") === "none") {
                    $(".mobile-menu").css("display", "block");
                } else {
                    $(".mobile-menu").css("display", "none");
                }
            });
        });
        window.onload = () => {
            let activate = document.querySelectorAll('[name="1"]');
            for(let bouton of activate){
                bouton.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission`)
                    xmlhtpp.send();}
                    else {
                        bouton.checked = !bouton.checked;
                    }
                })

            }
            let activate2 = document.querySelectorAll('[name="2"]');
            for(let bouton2 of activate2){
                bouton2.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission2`)
                    xmlhtpp.send();}
            else {
                    bouton2.checked = !bouton.checked;
                }
                })

            }
            let activate3 = document.querySelectorAll('[name="3"]');
            for(let bouton3 of activate3){
                bouton3.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission3`)
                    xmlhtpp.send();}
            else {
                    bouton3.checked = !bouton.checked;
                }
                })

            }
            let activate4 = document.querySelectorAll('[name="4"]');
            for(let bouton4 of activate4){
                bouton4.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission4`)
                    xmlhtpp.send();}
            else {
                    bouton4.checked = !bouton.checked;
                }
                })

            }
            let activate5 = document.querySelectorAll('[name="5"]');
            for(let bouton5 of activate5){
                bouton5.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission5`)
                    xmlhtpp.send();}
            else {
                    bouton5.checked = !bouton.checked;
                }
                })

            }
            let activate6 = document.querySelectorAll('[name="6"]');
            for(let bouton6 of activate6){
                bouton6.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission6`)
                    xmlhtpp.send();}
            else {
                    bouton6.checked = !bouton.checked;
                }
                })

            }
            let activate7 = document.querySelectorAll('[name="7"]');
            for(let bouton7 of activate7){
                bouton7.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission7`)
                    xmlhtpp.send();}
            else {
                    bouton7.checked = !bouton.checked;
                }
                })

            }
            let activate8 = document.querySelectorAll('[name="8"]');
            for(let bouton8 of activate8){
                bouton8.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission8`)
                    xmlhtpp.send();}
            else {
                    bouton8.checked = !bouton.checked;
                }
                })

            }

            let activate9 = document.querySelectorAll('[name="9"]');
            for(let bouton9 of activate9){
                bouton9.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission9`)
                    xmlhtpp.send();}
            else {
                    bouton9.checked = !bouton.checked;
                }
                })

            }
            let activate10 = document.querySelectorAll('[name="10"]');
            for(let bouton10 of activate10){
                bouton10.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission10`)
                    xmlhtpp.send();}
            else {
                    bouton10.checked = !bouton.checked;
                }
                })

            }
        }

    </script>
{% endblock %}

