{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/styles/homepage.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/styles/homepage-admin.css')}}" rel="stylesheet">

{% endblock %}
{% block body %}
    {%block homepage%}
    <div class="sidenav">
        {% if is_granted('ROLE_ADMIN') %}
        <img src="{{ asset('assets/images/logo.png')}}" alt="logo" class="logo" onclick="location.href='{{path('app_homepage_admin')}}';">
        {% else %}
            <img src="{{ asset('assets/images/logo.png')}}" alt="logo" class="logo" onclick="location.href='{{path('app_homepage')}}';">
        {% endif %}
        <div class="menu">
            {% if is_granted('ROLE_ADMIN') %}  <li {% if app.request.attributes.get('_route') == 'app_homepage_admin' %} class="active" {% endif %}> <a href="{{ path('app_homepage_admin') }}" ><img src="{{ asset('assets/images/dashboard.png')}}"/>Dashboard</a></li> {% else%} <li {% if app.request.attributes.get('_route') == 'app_homepage' %} class="active" {% endif %}> <a href="{{ path('app_homepage') }}" ><img src="{{ asset('assets/images/dashboard.png')}}"/>Dashboard</a></li> {% endif %}
            {% if is_granted('ROLE_ADMIN') %}  <li {% if app.request.attributes.get('_route') == 'app_partenaire_index' %} class="active" {% endif %}>  <a href="{{ path('app_partenaire_index') }}"><img src="{{ asset('assets/images/structure.png')}}"/>Partenaire</a></li> {% else %} <li {% if app.request.attributes.get('_route') == 'app_structure_page' %} class="active" {% endif %}>  <a href="{{ path('app_structure_page') }}"><img src="{{ asset('assets/images/structure.png')}}"/>Structure</a></li> {% endif %}
            <li {% if app.request.attributes.get('_route') == 'app_logout' %} class="active" {% endif %}>  <a href="{{ path('app_logout') }}"><img src="{{ asset('assets/images/logout.png')}}"/>Log out</a></li>
        </div>
        <div class="profile">
            <img src="{{ asset('assets/images/profile.png')}}" alt="profile" class="profile">
            <h1>Partenaire Fit Town</h1>
            <h2>{{ email }}</h2>
        </div>
    </div>
    {% endblock %}
    <!-- Page content -->
    <div class="main">
        <img src="{{ asset('assets/images/logo-2.png')}}" id="logo-2" onclick="location.href='{{path('app_homepage_admin')}}';"/>

        <div class="hamMenu">
            <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">

                <path
                        class="line top"
                        d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
                <path
                        class="line middle"
                        d="m 30,50 h 40" />
                <path
                        class="line bottom"
                        d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
            </svg>
        </div>
        <div class="mobile-menu">
            <div class="mobile-menu-items">
                <li {% if app.request.attributes.get('_route') == 'app_homepage_admin' %} class="active" {% endif %}> <a href="{{ path('app_homepage_admin') }}" >Dashboard</a></li>
                <li {% if app.request.attributes.get('_route') == 'app_partenaire_index' %} class="active" {% endif %}>  <a href="{{ path('app_partenaire_index') }}">Partenaire</a></li>
                <li {% if app.request.attributes.get('_route') == 'app_logout' %} class="active" {% endif %}>  <a href="{{ path('app_logout') }}">Log out</a></li>
            </div>
        </div>
        <h1>Dashboard</h1>
        <h2>Bienvenue !</h2>

        <div class="cards">


            <div>
                        <table>
                            <tbody>
                                        {% for structure in structures %}

                                            <tr class="annonce" onclick="location.href='{{path('app_structure_show', {'id': structure.id})}}';">
                                                     <td id="h3">Structures</td>
                                                         <td id="h1">{{ structure.Adresse }}</td>
                                                        <td><div id="img"><img src="{{ asset('assets/images/arrow.png')}}"/></div></td>
                                            </tr>
                                         {% else %}

                                                        <h1 colspan="7">no records found</h1>

                                        {% endfor %}

                            </tbody>
                        </table>
            </div>




                    <div class="card-single" onclick="location.href='{{path('app_structure_page')}}'">
                                <h3>Structures</h3>
                                <h1>Voir plus...</h1>
                        <div id="img2"><img src="{{ asset('assets/images/arrow.png')}}"/></div>
                    </div>

        </div>
        <h1>Permissions</h1>
        <h2>Permissions globales</h2>
        <div class="wrapper-permission">
            <table class="table">


        {% for permission in permission %}
        <tr>

            <td> isMembersRead {{ permission.isMembersRead ? 'On' : 'Off'}}</td>
            <td> isMembersWrite  {{ permission.isMembersWrite ? 'On' : 'Off'}}</td>
            <td>isMembersAdd {{ permission.isMembersAdd ? 'On' : 'Off'}}</td>
        </tr>
            <tr>
            <td> isMembersProductsAdd {{ permission.isMembersProductsAdd ? 'On' : 'Off'}}</td>
            <td> isMembersPaymentSchedulesRead {{ permission.isMembersPaymentSchedulesRead ? 'On' : 'Off'}}</td>
            <td> isMembersStatistiquesRead {{ permission.isMembersStatistiquesRead ? 'On' : 'Off'}}</td>
            <tr>
            <td> isMembersSubscriptionRead {{ permission.isMembersSubscriptionRead ? 'On' : 'Off'}}</td>
            <td> isPaymentSchedulesRead {{ permission.isPaymentSchedulesRead ? 'On' : 'Off'}}</td>
            <td> isPaymentSchedulesWrite  {{ permission.isPaymentSchedulesWrite ? 'On' : 'Off'}}</td>
            </tr>
            <tr>
            <td> isPaymentDayRead {{ permission.isPaymentDayRead ? 'On' : 'Off'}}</td>
        </tr>
            {% endfor %}

            </table>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>


        $(document).ready(function(){
            $(".ham").click(function(){
                if ($(".mobile-menu").css("display") === "none") {
                    $(".mobile-menu").css("display", "block");
                } else {
                    $(".mobile-menu").css("display", "none");
                }
            });
        });
    </script>
{% endblock %}
