{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/styles/homepage.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="sidenav">
        <img src="{{ asset('assets/images/logo.png')}}" alt="logo" class="logo">
        <div class="menu">
          <a href="#"><img src="{{ asset('assets/images/dashboard.png')}}"/>Dashboard</a>
        <a href="#"><img src="{{ asset('assets/images/structure.png')}}"/>Structures</a>
        <a href="#"><img src="{{ asset('assets/images/logout.png')}}"/>Log out</a>
        </div>
        <div class="profile">
            <img src="{{ asset('assets/images/profile.png')}}" alt="profile" class="profile">
            <h1>Dunkerke Fit Town</h1>
            <h2>dunkerke@gmail.com</h2>
        </div>
    </div>

    <!-- Page content -->
    <div class="main">

        <h1>Dashboard</h1>
        <h2>Bienvenue, Dunkerke !</h2>
    </div>
{% endblock %}
