{{ form_start(form) }}
    {{ form_widget(form) }}

<button class="add-button">
    <img src="{{ asset('assets/images/add.png')}}"/> <a>{{ button_label|default('Ajouter') }}</a>
</button>
{{ form_end(form) }}
