{% extends 'base.html.twig' %}

{% block title %}Partenaire index{% endblock %}

{% block body %}
    <h1>Partenaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Name</th>
                <th>Description</th>
                <th>Is_active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partenaire in partenaires %}
            <tr>
                <td>{{ partenaire.id }}</td>
                <td>{{ partenaire.email }}</td>
                <td>{{ partenaire.roles ? partenaire.roles|json_encode : '' }}</td>
                <td>{{ partenaire.password }}</td>
                <td>{{ partenaire.Name }}</td>
                <td>{{ partenaire.description }}</td>
                <td>{{ partenaire.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_partenaire_show', {'id': partenaire.id}) }}">show</a>
                    <a href="{{ path('app_partenaire_edit', {'id': partenaire.id}) }}">edit</a>
                    <a href="{{ path('app_structure_new', {'id': partenaire.id}) }}">Ajouter structure</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_partenaire_new') }}">Create new</a>
{% endblock %}
