{% extends 'base.html.twig' %}

{% block title %}Partenaire index{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/styles/homepage.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/styles/homepage-admin.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/styles/partenaire-index.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    {{ block('homepageadmin', 'homepage_admin/index.html.twig') }}
    <div class="main">
        <img src="{{ asset('assets/images/logo-2.png')}}" id="logo-2" onclick="location.href='{{path('app_homepage_admin')}}';"/>

        <div class="hamMenu">
            <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">

                <path
                        class="line top"
                        d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
                <path
                        class="line middle"
                        d="m 30,50 h 40" />
                <path
                        class="line bottom"
                        d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
            </svg>
        </div>
        <div class="mobile-menu">
            <div class="mobile-menu-items">
                <li {% if app.request.attributes.get('_route') == 'app_homepage_admin' %} class="active" {% endif %}> <a href="{{ path('app_homepage_admin') }}" >Dashboard</a></li>
                <li {% if app.request.attributes.get('_route') == 'app_partenaire_index' %} class="active" {% endif %}>  <a href="{{ path('app_partenaire_index') }}">Partenaire</a></li>
                <li {% if app.request.attributes.get('_route') == 'app_logout' %} class="active" {% endif %}>  <a href="{{ path('app_logout') }}">Log out</a></li>
            </div>
        </div>
        <div class="wrapper-flex">
<form action="{{ path('app_partenaire_index') }}" >
            <input
                    id="search"
                    type="search"
                    name="p"
                    class="form-control"
                    placeholder="Rechercher..."
                    aria-label="Search"
            />
</form>


        <div class="add-button" onclick="location.href='{{path('app_partenaire_new')}}';">
            <img src="{{ asset('assets/images/add.png')}}"/> <a href="{{ path('app_partenaire_new') }}">Ajouter</a>
        </div>
        </div>
        <h1>Partenaires</h1>
        <h2>Liste des partenaires</h2>

        <div class="wrapper-sort">
        <h3>Trier les éléments par :</h3>
            <a href="{{ path('app_partenaire_index') }}" id="back-link" style="font-size: 20px;
    font-weight: bold;">Retour à la liste</a></li>

            <li><btn   id="all">All</btn></li>
        <li><btn  id="active-btn">Actif</btn></li>
        <li><btn  id="not-active-btn">Inactif</btn></li>

        </div>






    <table class="table" >
        <tbody>
        {% for partenaire in partenaires %}
            <tr class="annonce {{ (partenaire.isActive) ? 'active-items' : 'not-active-items'}}"   onclick="location.href='{{path('app_partenaire_show', {'id': partenaire.id})}}';">
                <td id="h3">Partenaire</td>
                <td id="name">{{ partenaire.Name }}</td>
                <td>{{ partenaire.Description }}</td>
                <td>{{ partenaire.email }}</td>
                <td><div class="wrapper-switch"><div class="switch">
                    <input  type="checkbox"  id="toggleAll{{partenaire.id}}" {{ (partenaire.isActive) ? 'checked' : ''}} data-id="{{  partenaire.id }}" /> <!--toggle switch-->
                    <label for="toggleAll{{partenaire.id}}"></label>
                </div></div></td>
                <td>
                    <a href="{{ path('app_partenaire_edit', {'id': partenaire.id}) }}">edit</a>
                    <a href="{{ path('app_structure_new', {'id': partenaire.id}) }}">ajouter structure</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        // Filter list script :
        jQuery(document).ready(function(){
            $('#active-btn').click(function(){
                $('.not-active-items').hide();
                $('.active-items').show();
            });
            $('#not-active-btn').click(function(){
                $('.active-items').hide();
                $('.not-active-items').show();
            });
            $('#all').click(function(){
                $('.active-items').show();
                $('.not-active-items').show();
            });
        });
        // Live search script :
        jQuery(document).ready(function() {
            var searchRequest = null;
            $('#back-link').hide();
            $("#search").keyup(function(){

                var minlength = 1;
                var that = this;
                var value = $(this).val();
                var entitySelector = $(".table");
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('app_partenaire_index') }}",
                        data: {
                            'p' : value
                        },
                        dataType: "text",
                        success: function(result){
                            //we need to check if the value is the same
                            if (value===$(that).val()){
                             //   entitySelector.hide(); // method 1 works but problem with the pagination and the sort buttons
                             //   $(result).find(".annonce").appendTo('.table'); // method 1
                            //   entitySelector.html(result); // method 2
                                entitySelector.html($(result).find(".table")); // method 3
                                $('#back-link').show();



                            }
                        }
                    });
                }
            });

        })
        // Toggle switch script :
        window.onload = () => {
            let activate = document.querySelectorAll('[type="checkbox"]');
            for(let bouton of activate){
                bouton.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) === true) {
                        let xmlhtpp = new XMLHttpRequest();

                        xmlhtpp.open("get", `/partenaire/${this.dataset.id}/activate`)
                        xmlhtpp.send();
                    } else {
                        bouton.checked = !bouton.checked;
                    }
                })

            }
        }




        $(document).ready(function(){
            $(".ham").click(function(){
                if ($(".mobile-menu").css("display") === "none") {
                    $(".mobile-menu").css("display", "block");
                } else {
                    $(".mobile-menu").css("display", "none");
                }
            });
        });
    </script>
{% endblock %}
