{% extends 'base.html.twig' %}

{% block title %}Partenaire index{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/styles/homepage.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/styles/homepage-admin.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/styles/partenaire-index.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    {{ block('homepageadmin', 'homepage_admin/index.html.twig') }}
    <div class="main">
        <div class="add-button" onclick="location.href='{{path('app_partenaire_new')}}';">
            <img src="{{ asset('assets/images/add.png')}}"/> <a href="{{ path('app_partenaire_new') }}">Ajouter</a>
        </div>
        <h1>Partenaires</h1>
        <h2>Liste des partenaires</h2>



    <table class="table">
        <tbody>
        {% for partenaire in partenaires %}
            <tr class="annonce" >
                <td id="h3">Structures</td>
                <td id="name">{{ partenaire.Name }}</td>
                <td>{{ partenaire.Description }}</td>
                <td>{{ partenaire.email }}</td>
                <td><div class="wrapper-switch"><div class="switch">
                    <input type="checkbox" id="toggleAll" {{ (partenaire.isActive) ? 'checked' : ''}} data-id="{{  partenaire.id }}" /> <!--toggle switch-->
                    <label for="toggleAll"></label>
                </div></div></td>
                <td>
                    <a href="{{ path('app_partenaire_edit', {'id': partenaire.id}) }}">edit</a>
                    <a href="{{ path('app_structure_new', {'id': partenaire.id}) }}">ajouter structure</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        window.onload = () => {
            let activate = document.querySelectorAll('[type="checkbox"]');
            for(let bouton of activate){
                bouton.addEventListener("click", function(){
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/partenaire/${this.dataset.id}/activate`)
                    xmlhtpp.send();
                })

            }
        }
    </script>
{% endblock %}
