{% extends 'base.html.twig' %}

{% block title %}Partenaire index{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/styles/homepage.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/styles/homepage-admin.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/styles/partenaire-index.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    {{ block('homepageadmin', 'homepage_admin/index.html.twig') }}
    <div class="main">
        <div class="add-button">
            <img src="{{ asset('assets/images/add.png')}}"/> <a href="{{ path('app_structure_page') }}">Ajouter</a>
        </div>
        <h1>Partenaires</h1>
        <h2>Liste des partenaires</h2>


    <table class="table">
        <tbody>
        {% for partenaire in partenaires %}
            <tr class="annonce" onclick="location.href='{{path('app_partenaire_show', {'id': partenaire.id})}}';">
                <td id="h3">Structures</td>
                <td id="name">{{ partenaire.Name }}</td>
                <td>{{ partenaire.Description }}</td>
                <td>{{ partenaire.email }}</td>
                <td>{{ partenaire.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_partenaire_edit', {'id': partenaire.id}) }}">edit</a>
                    <a href="{{ path('app_structure_new', {'id': partenaire.id}) }}">ajouter structure</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
