{% extends 'base.html.twig' %}

{% block title %}Partenaire{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/styles/homepage.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/styles/homepage-admin.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/styles/partenaire-show.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    {{ block('homepageadmin', 'homepage_admin/index.html.twig') }}
<div class="main">
    <div class="add-button" onclick="location.href='{{path('app_partenaire_new')}}';">
        <img src="{{ asset('assets/images/add.png')}}"/> <a href="{{ path('app_partenaire_new') }}">Ajouter</a>
    </div>
    <h1>Partenaires</h1>
    <h2>Liste des partenaires</h2>


    <div class="wrapper-1">
        <h3>Partenaire</h3>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partenaire.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ partenaire.email }}</td>
            </tr>

            <tr>
                <th>Name</th>
                <td>{{ partenaire.Name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ partenaire.description }}</td>
            </tr>
            <tr>
                <th>Is_active</th>
                <td>{{ partenaire.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('app_partenaire_edit', {'id': partenaire.id}) }}">edit</a>
    <a href="{{ path('app_structure_new', {'id': partenaire.id}) }}">ajouter structure</a>

    {{ include('partenaire/_delete_form.html.twig') }}
    </div>

    <h2>Permissions globales</h2>
    <div class="wrapper-permission">
        <table class="table">


            {% for permission in permission %}
                <tr>

                    <td> isMembersRead <div class="wrapper-switch"><div class="switch">
                                <input name="1" type="checkbox" id="1" {{ (permission.isMembersRead) ? 'checked' : ''}} data-id="{{  permission.id }}" /> <!--toggle switch-->
                                <label for="1"></label>
                            </div></div></td>
                    <td> isMembersWrite  <div class="wrapper-switch"><div class="switch">
                                <input name="2" type="checkbox" id="2" {{ (permission.isMembersWrite) ? 'checked' : ''}} data-id="{{  permission.id }}" /> <!--toggle switch-->
                                <label for="2"></label>
                            </div></div></td>
                    <td>isMembersAdd <div class="wrapper-switch"><div class="switch">
                                <input name="3" type="checkbox" id="3" {{ (permission.isMembersAdd) ? 'checked' : ''}} data-id="{{  permission.id }}" /> <!--toggle switch-->
                                <label for="3"></label>
                            </div></div></td>
                </tr>
                <tr>
                    <td> isMembersProductsAdd <div class="wrapper-switch"><div class="switch">
                                <input name="4" type="checkbox" id="4" {{ (permission.isMembersProductsAdd) ? 'checked' : ''}} data-id="{{  permission.id }}" /> <!--toggle switch-->
                                <label for="4"></label>
                            </div></div></td>
                    <td> isMembersPaymentSchedulesRead <div class="wrapper-switch"><div class="switch">
                                <input name="5" type="checkbox" id="5" {{ (permission.isMembersPaymentSchedulesRead) ? 'checked' : ''}} data-id="{{  permission.id }}" /> <!--toggle switch-->
                                <label for="5"></label>
                            </div></div></td>
                    <td> isMembersStatistiquesRead <div class="wrapper-switch"><div class="switch">
                                <input name="6" type="checkbox" id="6" {{ (permission.isMembersStatistiquesRead) ? 'checked' : ''}} data-id="{{  permission.id }}" /> <!--toggle switch-->
                                <label for="6"></label>
                            </div></div></td>
                <tr>
                    <td> isMembersSubscriptionRead <div class="wrapper-switch"><div class="switch">
                                <input name="7" type="checkbox" id="7" {{ (permission.isMembersSubscriptionRead) ? 'checked' : ''}} data-id="{{  permission.id }}" /> <!--toggle switch-->
                                <label for="7"></label>
                            </div></div></td>
                    <td> isPaymentSchedulesRead <div class="wrapper-switch"><div class="switch">
                                <input name="8" type="checkbox" id="8" {{ (permission.isPaymentSchedulesRead) ? 'checked' : ''}} data-id="{{  permission.id }}" /> <!--toggle switch-->
                                <label for="8"></label>
                            </div></div></td>
                    <td> isPaymentSchedulesWrite  <div class="wrapper-switch"><div class="switch">
                                <input name="9" type="checkbox" id="9" {{ (permission.isPaymentSchedulesWrite) ? 'checked' : ''}} data-id="{{  permission.id }}" /> <!--toggle switch-->
                                <label for="9"></label>
                            </div></div></td>
                </tr>
                <tr>
                    <td> isPaymentDayRead <div class="wrapper-switch"><div class="switch">
                                <input name="10" type="checkbox" id="10" {{ (permission.isPaymentDayRead) ? 'checked' : ''}} data-id="{{  permission.id }}" /> <!--toggle switch-->
                                <label for="10"></label>
                            </div></div></td>
                </tr>
            {% endfor %}

        </table>
    </div>

    <h2 id="h2-structure">Structures</h2>
    <form>
        <input
                type="search"
                name="q"
                class="form-control"
                placeholder="Rechercher..."
                aria-label="Search"
        />
    </form>
    <div class="cards">


        <div>
            <table>
                <tbody>
                {% for structure in structures %}
                    <tr class="annonce" onclick="location.href='{{path('app_structure_show', {'id': structure.id})}}';">
                        <td id="h3">Structures</td>
                        <td id="h1">{{ structure.Adresse }}</td>
                       <td><div class="wrapper-switch" style="display: flex; justify-content: center"><div class="switch">
                                <input name="11" type="checkbox" id="11" {{ (structure.isActive) ? 'checked' : ''}} data-id="{{  structure.id }}" /> <!--toggle switch-->
                                <label for="11"></label>
                            </div></div></td>
                        <td><div id="img"><img src="{{ asset('assets/images/arrow.png')}}"/></div></td>
                    </tr>
                {% else %}

                    <h1 colspan="7">Pas de structure/s pour le moment</h1>

                {% endfor %}
                </tbody>
            </table>
        </div>


    </div>


</div>
{% endblock %}
{% block javascripts %}
    <script>
        window.onload = () => {
            let activate = document.querySelectorAll('[name="1"]');
            for(let bouton of activate){
                bouton.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/partenaire/${this.dataset.id}/activate-permission`)
                    xmlhtpp.send();}
            else {
                    bouton.checked = false;
                }
                })

            }
            let activate2 = document.querySelectorAll('[name="2"]');
            for(let bouton2 of activate2){
                bouton2.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/partenaire/${this.dataset.id}/activate-permission2`)
                    xmlhtpp.send();}
            else {
                    bouton2.checked = false;
                }
                })

            }
            let activate3 = document.querySelectorAll('[name="3"]');
            for(let bouton3 of activate3){
                bouton3.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/partenaire/${this.dataset.id}/activate-permission3`)
                    xmlhtpp.send();}
            else {
                    bouton3.checked = false;
                }
                })

            }
            let activate4 = document.querySelectorAll('[name="4"]');
            for(let bouton4 of activate4){
                bouton4.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/partenaire/${this.dataset.id}/activate-permission4`)
                    xmlhtpp.send();}
                    else {
                        bouton4.checked = false;
                    }
                })

            }
            let activate5 = document.querySelectorAll('[name="5"]');
            for(let bouton5 of activate5){
                bouton5.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/partenaire/${this.dataset.id}/activate-permission5`)
                    xmlhtpp.send(); }
                    else {
                            bouton5.checked = false;
                        }
                })

            }
            let activate6 = document.querySelectorAll('[name="6"]');
            for(let bouton6 of activate6){
                bouton6.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/partenaire/${this.dataset.id}/activate-permission6`)
                    xmlhtpp.send();} else {
                            bouton6.checked = false;
                        }
                })

            }
            let activate7 = document.querySelectorAll('[name="7"]');
            for(let bouton7 of activate7){
                bouton7.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/partenaire/${this.dataset.id}/activate-permission7`)
                    xmlhtpp.send();} else {
                        bouton7.checked = false;
                    }
                })

            }
            let activate8 = document.querySelectorAll('[name="8"]');
            for(let bouton8 of activate8){
                bouton8.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/partenaire/${this.dataset.id}/activate-permission8`)
                    xmlhtpp.send(); } else {
                            bouton8.checked = false;
                        }
                })

            }
            let activate9 = document.querySelectorAll('[name="9"]');
            for(let bouton9 of activate2){
                bouton9.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/partenaire/${this.dataset.id}/activate-permission9`)
                    xmlhtpp.send();} else {
                        bouton9.checked = false;
                    }
                })

            }
            let activate10 = document.querySelectorAll('[name="10"]');
            for(let bouton10 of activate10){
                bouton10.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                    let xmlhtpp = new XMLHttpRequest();

                    xmlhtpp.open("get", `/partenaire/${this.dataset.id}/activate-permission10`)
                    xmlhtpp.send();
                    } else {
                        bouton10.checked = false;
                    }
                })

            }
            let activate11 = document.querySelectorAll('[name="11"]');
            for(let bouton11 of activate11){
                bouton11.addEventListener("click", function(){
                    let text = "Vous êtes sûr ?";
                    if (confirm(text) == true) {
                        let xmlhtpp = new XMLHttpRequest();

                        xmlhtpp.open("get", `/structure/${this.dataset.id}/activate-permission11`)
                        xmlhtpp.send();
                    } else {
                        bouton11.checked = false;
                    }
                })

            }
        }
    </script>
{% endblock %}
