{% extends 'base.html.twig' %}

{% block title %}Dashboard | Fit Town{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/styles/homepage.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/styles/structure-show.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/styles/homepage-admin.css')}}" rel="stylesheet">

{% endblock %}
{% block body %}
    <div class="sidenav">
        <img src="{{ asset('assets/images/logo.png')}}" alt="logo" class="logo" onclick="location.href='{{path('app_homepage_structure')}}';">
        <div class="menu">
            <li {% if app.request.attributes.get('_route') == 'app_homepage_structure' %} class="active" {% endif %}> <a href="{{ path('app_homepage_structure') }}" ><img src="{{ asset('assets/images/dashboard.png')}}"/>Dashboard</a></li>
            <li {% if app.request.attributes.get('_route') == 'app_logout' %} class="active" {% endif %}>  <a href="{{ path('app_logout') }}"><img src="{{ asset('assets/images/logout.png')}}"/>Log out</a></li>
        </div>
        <div class="profile">
            <img src="{{ asset('assets/images/profile.png')}}" alt="profile" class="profile">
            <h1>Fit Town</h1>
            <h2>{{ email }}</h2>
        </div>
    </div>
<!-- Page content -->
    <div class="main">
        <img src="{{ asset('assets/images/logo-2.png')}}" id="logo-2" onclick="location.href='{{path('app_homepage_admin')}}';"/>    <div class="hamMenu">
            <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">

                <path
                        class="line top"
                        d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
                <path
                        class="line middle"
                        d="m 30,50 h 40" />
                <path
                        class="line bottom"
                        d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
            </svg>
        </div>
        <div class="mobile-menu">
            <div class="mobile-menu-items">
                <li {% if app.request.attributes.get('_route') == 'app_homepage_admin' %} class="active" {% endif %}> <a href="{{ path('app_homepage_admin') }}" >Dashboard</a></li>
                <li {% if app.request.attributes.get('_route') == 'app_partenaire_index' %} class="active" {% endif %}>  <a href="{{ path('app_partenaire_index') }}">Partenaire</a></li>
                <li {% if app.request.attributes.get('_route') == 'app_logout' %} class="active" {% endif %}>  <a href="{{ path('app_logout') }}">Log out</a></li>
            </div>
        </div>
        <h1>Dashboard</h1>
        <h2>Bienvenue ! </h2>


        <div class="wrapper-1">
            <h3>Structure</h3>

            <table class="table">
                <tbody>
                {% for structures in structures%}
                <tr>
                    <th>Email</th>
                    <td>{{ structures.email }}</td>
                </tr>

                <tr>
                    <th>Adresse</th>
                    <td>{{ structures.Adresse }}</td>
                </tr>
                <tr>
                    <th>Is_active</th>
                    <td>{{ structures.isActive ? 'Yes' : 'No' }}</td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>

        <h1>Permissions</h1>
        <h2 id="title-2">Permissions de la structure</h2>
        <div class="wrapper-permission">
            <table class="table">


                {% for permissions in permissions %}
                    <tr>

                        <td> isMembersRead {{ permissions.isMembersRead ? 'On' : 'Off'}}</td>
                        <td> isMembersWrite  {{ permissions.isMembersWrite ? 'On' : 'Off'}}</td>
                        <td>isMembersAdd {{ permissions.isMembersAdd ? 'On' : 'Off'}}</td>
                    </tr>
                    <tr>
                        <td> isMembersProductsAdd {{ permissions.isMembersProductsAdd ? 'On' : 'Off'}}</td>
                        <td> isMembersPaymentSchedulesRead {{ permissions.isMembersPaymentSchedulesRead ? 'On' : 'Off'}}</td>
                        <td> isMembersStatistiquesRead {{ permissions.isMembersStatistiquesRead ? 'On' : 'Off'}}</td>
                    <tr>
                        <td> isMembersSubscriptionRead {{ permissions.isMembersSubscriptionRead ? 'On' : 'Off'}}</td>
                        <td> isPaymentSchedulesRead {{ permissions.isPaymentSchedulesRead ? 'On' : 'Off'}}</td>
                        <td> isPaymentSchedulesWrite  {{ permissions.isPaymentSchedulesWrite ? 'On' : 'Off'}}</td>
                    </tr>
                    <tr>
                        <td> isPaymentDayRead {{ permissions.isPaymentDayRead ? 'On' : 'Off'}}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>


        $(document).ready(function(){
            $(".ham").click(function(){
                if ($(".mobile-menu").css("display") === "none") {
                    $(".mobile-menu").css("display", "block");
                } else {
                    $(".mobile-menu").css("display", "none");
                }
            });
        });
    </script>
{% endblock %}
